{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- kalo pake cdn -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{%static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <title>Ludy's Web - Bio Page</title>
</head>

<body>
    <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">
            <a href="/"><img src="{%static "assets/web_logo.png" %}" alt="Logo" width="70px"></a>
        </div>
        <div class="hide-mobile mr-auto p-2 bd-highlight">
            <h3 class="bio-title">My Bio</h3>
        </div>
        <div class="drop-pos p-2 bd-highlight">
            {%include "pages/dropdown.html"%}
        </div>
    </div>

    <div class="show-mobile" style="text-align: center">
        <h3 class="bio-title">My Bio</h3>
    </div>
    <div class="row bio-positioning">
        <div class="col-sm-3 photo-position">
            <a href="https://quanta2018.com/Biodata/detail.html?absen=201"><img src="{%static "assets/bio-photo.png" %}"
                    alt="My Photo" width="270px;"></a>
        </div>

        <div class="col-sm-5 bio-box">
            <div class="border-bio">
                <div class="text-align hide-mobile">
                    <div class="text-var clr-darkblue bold-font">
                        Name <br> Birth Date <br> Hobby
                    </div>
                    <div class="colon clr-darkblue bold-font">
                        : <br> : <br> :
                    </div>
                    <div class="text-val clr-black bold-font">
                        Abdurrahman Luqmanul H. (Ludy) <br> June 3 2000 <br> Playing Games and Sleeping
                    </div>
                </div>
                <div class="show-mobile" style="color: black; font-weight: bold">
                    <spam class="clr-darkblue">Name :</spam><br>Abdurrahman Luqmanul Hakim
                    <br>
                    <spam class="clr-darkblue">Birth Date :</spam><br>June 3 2000
                    <br>
                    <spam class="clr-darkblue">Hobby :</spam><br>Playing Games and Sleeping
                </div>
                <div class="desc">
                    <div class="clr-darkblue bold-font">Description about Myself : <br></div>
                    <div class="clr-black bold-font"> Hello, my name is Abdurrahman Luqmanul Hakim, but
                        people call me Ludy. Im a student at Faculty of Computer Science. Im currently a student at
                        University of Indonesia. I really love playing video games, often resulting in my bad grades and
                        lack of sleep.</divclass>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-4 skill-position">
            <div class="skill-box">
                <div class="clr-darkblue">My Skills</div>
                <div class="clr-white">- Python basic knowledge <br>
                    - Java basic knowledge <br>
                    - HTML & CSS basic knowledge</div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="d-flex flex-row">
            <div class="p-2"><a href="/">
                    <h4 class="res-footer clr-lightblue">Home</h4>
                </a></div>
            <div class="p-2">
                <h4 class="res-footer selected">Bio</h4>
            </div>
            <div class="p-2"><a href="/education">
                    <h4 class="res-footer clr-lightblue">Education</h4>
                </a></div>
            <div class="p-2"><a href="/contact">
                    <h4 class="res-footer clr-lightblue">Contact</h4>
                </a></div>
            <div class="p-2"><a href="/schedule">
                    <h4 class="res-footer clr-lightblue">Schedule</h4>
                </a></div>
            <div class="p-2"><a href="/extra">
                    <h4 class="res-footer clr-lightblue">Extra</h4>
                </a></div>
        </div>
    </div>

    <!-- kalau pakai cdn -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <script src="{%static "bootstrap/js/jquery.js" %}"></script>
    <script src="{%static "bootstrap/js/popper.js" %}"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>