{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- kalo pake cdn -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{%static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <title>Ludy's Web - Contact Page</title>
</head>

<body>
    <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">
            <a href="/"><img src="{%static "assets/web_logo.png" %}" alt="Logo" width="70px"></a>
        </div>
        <div class="drop-pos p-2 bd-highlight">
            <h5 class="bold-font">
                {%include "pages/dropdown.html"%}
        </div>
    </div>

    <div class="contact-struc">
        <div class="padding-cont">
            <h3 class="contact-underline clr-darkblue">You can contact me at:</h3>
        </div>

        <div class="contact-align">
            <div class="contact-left"></div>
            <div class="contact-var clr-darkblue">
                <h4 class="font-shrink">
                    <br>Email<br>
                    <br>HP<br>
                    <br>Line<br>
                    <br>Gitlab<br>
                    <br>Github</h4>
            </div>
            <div class="contact-mid clr-darkblue">
                <h4 class="font-shrink"><br> : <br><br> : <br><br> : <br><br> : <br><br> : </h4>
            </div>
            <div class="contact-val">
                <h4 class="font-shrink"><br> Ludyaldy@gmail.com<br>
                    <br> 08118020004<br>
                    <br> Ludyluqmanhakim<br>
                    <br> https://gitlab.com/AndiALH<br>
                    <br> https://github.com/AndiALH
                </h4>
            </div>
            <div class="contact-right"></div>
        </div>

        <div class=img-align style="padding-top: 40px;">
            <div class="img-left"></div>
            <div class="img-mid">
                <a href="https://www.facebook.com/ludyALH"><img src="{%static "assets/fb_icon.png" %}"
                        alt="Facebook icon" class="contact-img"></a>
                <span style="display:inline-block; width: 100px;"></span>
                <a href="https://www.instagram.com/andiluqmanh/"><img src="{%static "assets/ig_icon.png" %}"
                        alt="Instagram icon" class="contact-img"></a>
                <span style="display:inline-block; width: 100px;"></span>
                <a href="https://www.linkedin.com/in/abdurrahman-l-201663113/"><img
                        src="{%static "assets/lin_icon.png" %}" alt="LinkedIn icon" class="contact-img"></a>
            </div>
            <div class="img-right"></div>
        </div>
    </div>

    <div class="footer">
        <div class="d-flex flex-row">
            <div class="p-2"><a href="/">
                    <h4 class="res-footer clr-lightblue">Home</h4>
                </a></div>
            <div class="p-2"><a href="/bio">
                    <h4 class="res-footer clr-lightblue">Bio</h4>
                </a></div>
            <div class="p-2"><a href="/education">
                    <h4 class="res-footer clr-lightblue">Education</h4>
                </a></div>
            <div class="p-2">
                <h4 class="res-footer selected">Contact</h4>
            </div>
            <div class="p-2"><a href="/schedule">
                    <h4 class="res-footer clr-lightblue">Schedule</h4>
                </a></div>
            <div class="p-2"><a href="/extra">
                    <h4 class="res-footer clr-lightblue">Extra</h4>
                </a></div>
        </div>
    </div>

    <!-- kalau pakai cdn -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <script src="{%static "bootstrap/js/jquery.js" %}"></script>
    <script src="{%static "bootstrap/js/popper.js" %}"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>