.home-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drop-pos {
    margin-right: 7px;
}

.btn-edit {
    background-color: white;
    color: #262E78;
    font-weight: bold; 
    font-size: 21px;
    border-color: white;
}

.menu-edit {
    background-color: #262E78;
    margin-right: 40px;
    text-align: center;
    font-size: 23px;
}

.bold-font {
    font-weight: bold;
}

.center-text {
    padding-top: 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title-text {
    font-size: 75px;
    color: #262E78;
}

.button-position {
    padding-left: 120px;
    padding-top: 150px;
}

.btn:hover {
    background: #262E78;
    color: #5AA6FF;
}

.btn-outline-primary {
    color: #262E78;
    border-color: #000000;
    border-width: 2.5px;
}

.selected {
    color: #262E78;
    text-decoration: underline;
}

.clr-lightblue {
    color: #5AA6FF;
}

.clr-darkblue {
    color: #262E78;
}

.clr-black {
    color: black;
}

.clr-white {
    color: white;
}

.bio-title {
    font-weight: bold;
    color: #262E78;
    font-size: 50px;
    padding-right: 110px;  
}

.bio-positioning {
    font-size: 21px;
}

.photo-position {
    padding-top: 90px;
    text-align: center;
}

.bio-box {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.border-bio {
    background-color: white;
    border-style: solid;
    border-width: 40px;
    border-color: #262E78;
}

.text-align {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.text-var {
    flex: 3;
    text-align: left;
    padding-left: 25px;
}

.colon {
    flex: 1;
}

.text-val {
    flex: 9;
    text-align: left;
    padding-right: 25px;
}

.desc {
    text-align: left;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.skill-position {
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 320px;
    padding-bottom: 60px;
}

.skill-box {
    background-color: #5AA6FF;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    border-radius: 2%;
}

.edu-line {
    justify-content: left;
    align-items: left;
    padding-top: 10px;
    padding-left: 28px;
}

.edu-box {
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #5AA6FF;
    border-top-color: white;
    border-left-color: white;
    width: 140px;
    padding-left: 5px;
    border-radius: 2%;
}

.edu-data {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.dotyline-resize {
    height: 80px;
}

.yline-resize {
    height: 64px;
}

.xline-resize {
    width: 60px;
    height: 28px;
}

.xline-resize-big {
    width: 100px;
    height: 45px;;
}

.year-pos {
    justify-content: center;
    text-align: center;
    padding-left: 300px;
    flex: 4 ;
}

.line-pos {
    justify-content: center;
    text-align: center;
    flex: 2;
}

.school-pos {
    justify-content: center;
    text-align: left;
    padding-left: 50px;
    flex: 12;
}

.underline-blue {
    width: 240px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-bottom-color: #5AA6FF;
    padding-bottom: 5px;
    justify-content: center;
}

.contact-struc {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.padding-cont {
    padding-left: 620px
}

.contact-underline {
    width: 300px;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-bottom-color: #5AA6FF;
    padding-bottom: 5px;
}

.contact-align {
    display: flex;
    flex-direction: row;
}

.contact-left {
    flex: 14;
}

.contact-var {
    flex: 5;
    text-align: left;
}

.contact-mid {
    flex: 1;
}

.contact-val {
    flex: 11;
    text-align: left;
}

.contact-right {
    flex: 12;
}

.img-align {
    display: flex;
    flex-direction: row;
}

.img-left {
    flex: 11;
}

.img-mid {
    flex: 19;
}

.img-right {
    flex: 11;
}

.contact-img {
    width: 120px;
    border-radius: 20%;
    margin-bottom: 50px;
}

.center-ex {
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ex-struc {
    display: flex;
    flex-direction: row;
}

.error-text-h1 {
    color: #5AA6FF;
    font-size: 80px;
    margin-left: 380px;
}

.error-text-h4 {
    color: #262E78;
    font-size: 30px;
    margin-left: 460px;
}

.error-msg {
    color: #5AA6FF;
    font-size: 22px;
    margin-left: 430px;
    padding-bottom: 100px;
}

.img-size {
    width: 500px;
}

.home-text {
    color: #262E78;
    text-decoration: underline;
}

.margin-footer {
    margin-top: 15px;
}

.schedule-title {
    text-align: center;
    /* justify-content: center; */
    color: #262E78;
    font-weight: bold;
    font-size: 25px;
}

/* .input_style {
    align-content: center;
} */

.table-blue {
    background-color: #262E78;
    color: aliceblue;
}

.outline-edit {
    color: #5AA6FF;
}

.add-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.table-height {
    min-height: 450px;
}

.back-button {
    margin: 20px;
}

@media only screen and (min-device-width: 600px) {
    .show-mobile {
      display: none;
    }
    /* .hide-mobile {
      display: block;
    } */
}

@media only screen and (max-device-width: 600px) {
    .show-mobile {
      display: block;
    }
    .hide-mobile {
      display: none;
    }

    .btn-edit {
        background-color: white;
        color: #262E78;
        font-weight: bold; 
        font-size: 21px;
        border-color: white;
        margin-left: 210px;
    }
    
    .menu-edit {
        background-color: #262E78;
        margin-right: 5px;
        text-align: center;
        font-size: 23px;
    }

    .margin-footer {
        margin-top: 55px;
    }

    .center-text {
        padding-top: 160px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 45px;
    }

    .title-text {
        font-size: 55px;
        color: #262E78;
    }

    .button-position {
        padding-left: 140px;
        padding-top: 150px;
    }

    .bio-title {
        font-weight: bold;
        color: #262E78;
        font-size: 50px;
        padding-right: 0px;  
        padding-left: 30px;
    }

    .photo-position {
        padding-top: 0px;
        text-align: center;
        padding-left: 60px;
    }

    .bio-box {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-left: 70px;
    }

    .skill-position {
        justify-content: center;
        align-items: center;
        padding-left: 70px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .edu-line {
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-left: 140px;
    }

    .mobile-edu {
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        margin-left: 45px;
        margin-bottom: 50px;

    }

    .dotyline-resize {
        height: 120px;
    }
    
    .yline-resize {
        height: 96px;
    }

    .padding-cont {
        padding-left: 25px
    }

    .font-shrink {
        font-size: 22px;
    }

    .contact-align {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .contact-struc {
        justify-content: center;
        align-content: center;
        text-align: center;
        margin-left: 50px;
    }

    .contact-left {
        flex: 1;
    }

    .contact-right {
        flex: 1;
    }

    .img-size {
        width: 420px;
    }

    .error-text-h1 {
        color: #5AA6FF;
        font-size: 60px;
        margin-left: 90px;
    }
    
    .error-text-h4 {
        color: #262E78;
        font-size: 30px;
        margin-left: 60px;
        text-align: center;
    }

    .error-msg {
        color: #5AA6FF;
        font-size: 25px;
        margin-left: 85px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .res-footer {
        font-size: 17px;
    }

    .schedule-title {
        text-align: center;
        /* justify-content: center; */
        color: #262E78;
        font-weight: bold;
        font-size: 25px;
        margin-left: 42px;
    }

    .add-button {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        margin-top: 20px; 
        margin-bottom: 20px;
        margin-left: 150px;
    }

    .table-height {
        min-height: 480px;
    }

    .mobile-width {
        min-width: 115px;
        max-width: 115px;
    }

    .back-button {
        margin: 15px;
        padding-left: 60px;
    }

}