{%load static%}

<div class="btn-group">
    <button type="button" class="btn-edit btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Menu
    </button>
    <div class="menu-edit dropdown-menu">
        <a class="clr-white dropdown-item" href="/">Home</a>
        <div class="dropdown-divider"></div>
        <a class="clr-white dropdown-item" href="/bio">Bio</a>
        <div class="dropdown-divider"></div>
        <a class="clr-white dropdown-item" href="/education">Education</a>
        <div class="dropdown-divider"></div>
        <a class="clr-white dropdown-item" href="/contact">Contact</a>
        <div class="dropdown-divider"></div>
        <a class="clr-white dropdown-item" href="/schedule">Schedule</a>
        <div class="dropdown-divider"></div>
        <a class="clr-white dropdown-item" href="/extra">Extra</a>
    </div>
</div>