{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- kalo pake cdn -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{%static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <title>Ludy's Web - Education Page</title>
</head>

<body>
    <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">
            <a href="/"><img src="{%static "assets/web_logo.png" %}" alt="Logo" width="70px"></a>
        </div>
        <div class="drop-pos p-2 bd-highlight">
            {%include "pages/dropdown.html"%}
        </div>
    </div>

    <div class="edu-line">
        <div class="edu-box">
            <h3 class="clr-darkblue">Education</h3>
        </div>
    </div>

    <div class="edu-data hide-mobile">
        <div class="year-pos clr-darkblue bold-font" style="font-size: 20px">
            <img src="{%static "assets/dot-yline_blue.png" %}" alt="dot line (blue)" class="dotyline-resize"><br>
            2006 - 2012<br>
            <img src="{%static "assets/yline_blue.png" %}" alt="line (blue)" class="yline-resize"><br>
            2012 - 2015<br>
            <img src="{%static "assets/yline_blue.png" %}" alt="line (blue)" class="yline-resize"><br>
            2015 - 2018<br>
            <img src="{%static "assets/yline_blue.png" %}" alt="line (blue)" class="yline-resize"><br>
            <h4 class="underline-blue bold-font">2018 - present</h4>
        </div>
        <div class="line-pos">
            <img src="{%static "assets/dot-yline_white.png" %}" alt="dot line (white)" class="dotyline-resize"><br>
            <img src="{%static "assets/xline_blue.png" %}" alt="line (blue)" class="xline-resize"><br>
            <img src="{%static "assets/yline_white.png" %}" alt="line (white)" class="yline-resize"><br>
            <img src="{%static "assets/xline_blue.png" %}" alt="line (blue)" class="xline-resize"><br>
            <img src="{%static "assets/yline_white.png" %}" alt="line (white)" class="yline-resize"><br>
            <img src="{%static "assets/xline_blue.png" %}" alt="line (blue)" class="xline-resize"><br>
            <img src="{%static "assets/yline_white.png" %}" alt="line (white)" class="yline-resize"><br>
            <img src="{%static "assets/xline_blue.png" %}" alt="line (blue)" class="xline-resize-big">
        </div>
        <div class="school-pos clr-lightblue bold-font" style="font-size: 20px">
            <img src="{%static "assets/dot-yline_white.png" %}" alt="dot line (white)" class="dotyline-resize"><br>
            SD Putra 1 Jakarta<br>
            <img src="{%static "assets/yline_white.png" %}" alt="line (white)" class="yline-resize"><br>
            SMP Putra 1 Jakarta<br>
            <img src="{%static "assets/yline_white.png" %}" alt="line (white)" class="yline-resize"><br>
            SMAN 8 Jakarta<br>
            <img src="{%static "assets/yline_white.png" %}" alt="line (white)" class="yline-resize"><br>
            <h4 class="bold-font">Faculty of Computer Science, University of Indonesia</h4>
        </div>
    </div>

    <div class="show-mobile mobile-edu clr-lightblue bold-font">
        <img src="{%static "assets/dot-yline_blue.png" %}" alt="dot line (blue)" class="dotyline-resize"><br>
        <spam class="clr-darkblue">2006 - 2012</spam><br>SD Putra 1 Jakarta<br>
        <img src="{%static "assets/yline_blue.png" %}" alt="line (blue)" class="yline-resize"><br>
        <spam class="clr-darkblue">2012 - 2015</spam><br>SMP Putra 1 Jakarta<br>
        <img src="{%static "assets/yline_blue.png" %}" alt="line (blue)" class="yline-resize"><br>
        <spam class="clr-darkblue">2015 - 2018</spam><br>SMAN 8 Jakarta<br>
        <img src="{%static "assets/yline_blue.png" %}" alt="line (blue)" class="yline-resize"><br>
        <spam class="clr-darkblue">2018 - present</spam><br>Faculty of Computer Science, University of Indonesia
    </div>

    <div class="footer">
        <div class="d-flex flex-row">
            <div class="p-2"><a href="/">
                    <h4 class="res-footer clr-lightblue">Home</h4>
                </a></div>
            <div class="p-2"><a href="/bio">
                    <h4 class="res-footer clr-lightblue">Bio</h4>
                </a></div>
            <div class="p-2">
                <h4 class="res-footer selected">Education</h4>
            </div>
            <div class="p-2"><a href="/contact">
                    <h4 class="res-footer clr-lightblue">Contact</h4>
                </a></div>
            <div class="p-2"><a href="/schedule">
                    <h4 class="res-footer clr-lightblue">Schedule</h4>
                </a></div>
            <div class="p-2"><a href="/extra">
                    <h4 class="res-footer clr-lightblue">Extra</h4>
                </a></div>
        </div>
    </div>

    <!-- kalau pakai cdn -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <script src="{%static "bootstrap/js/jquery.js" %}"></script>
    <script src="{%static "bootstrap/js/popper.js" %}"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>