{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- kalo pake cdn -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{%static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <title>Ludy's Web - Extra Page</title>
</head>

<body>
    <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">
            <a href="/"><img src="{%static "assets/web_logo.png" %}" alt="Logo" width="70px"></a>
        </div>
        <div class="drop-pos p-2 bd-highlight">
            <h5 class="bold-font">
                {%include "pages/dropdown.html"%}
        </div>
    </div>

    <div class="hide-mobile center-ex">
        <div class="ex-struc">
            <div class="ex-left">
                <br><br>
                <h1 class="error-text-h1">404 Error</h1>
                <h4 class="error-text-h4">Page Not Found</h4>
                <br>
            </div>
            <div class="ex-right">
                <img src="{%static "assets/404-error.png" %}" alt="Error" class="img-size">
            </div>
        </div>
    </div>
    <div class="show-mobile">
        <img src="{%static "assets/404-error.png" %}" alt="Error" class="img-size" style="padding-top: 50px;">
        <h1 class="error-text-h1">404 Error</h1>
        <h4 class="error-text-h4">Page Not Found</h4>
    </div>
    <br>
    <h6 class="error-msg">
        The requested URL was not found on this page. Back to <a href="/" class=home-text>Home Page</a>
    </h6>

    <div class="footer">
        <div class="d-flex flex-row">
            <div class="p-2"><a href="/">
                    <h4 class="res-footer clr-lightblue">Home</h4>
                </a></div>
            <div class="p-2"><a href="/bio">
                    <h4 class="res-footer clr-lightblue">Bio</h4>
                </a></div>
            <div class="p-2"><a href="/education">
                    <h4 class="res-footer clr-lightblue">Education</h4>
                </a></div>
            <div class="p-2"><a href="/contact">
                    <h4 class="res-footer clr-lightblue">Contact</h4>
                </a></div>
            <div class="p-2"><a href="/schedule">
                    <h4 class="res-footer clr-lightblue">Schedule</h4>
                </a></div>
            <div class="p-2">
                <h4 class="res-footer selected">Extra</h4>
            </div>
        </div>
    </div>

    <!-- kalau pakai cdn -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <script src="{%static "bootstrap/js/jquery.js" %}"></script>
    <script src="{%static "bootstrap/js/popper.js" %}"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>