{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- kalo pake cdn -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{%static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <title>Ludy's Web - Schedule Page</title>
</head>

<body>
    <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">
            <a href="/"><img src="{%static "assets/web_logo.png" %}" alt="Logo" width="70px"></a>
        </div>
        <div class="drop-pos p-2 bd-highlight">
            <h5 class="bold-font">
                {%include "pages/dropdown.html"%}
        </div>
    </div>

    <div class="schedule-title">My Schedule</div>

    <div class="add-button">
        <a href="{% url 'schedule_page:create' %}" class="btn-edit btn btn-primary"
            style="background-color: aliceblue; color: #5AA6FF">Add</a>
    </div>
    <div class="table-height">
        <table class="table table-blue">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="mobile-width" scope="col">Activity</th>
                    <th class="hide-mobile" scope="col">Category</th>
                    <th class="mobile-width" scope="col">Place</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th class="hide-mobile" scope="col">Day</th>
                    <th scope="col"> X</th>
                </tr>
            </thead>
            <tbody>
                {% for post in activity %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td class="mobile-width">{{post.activity}}</td>
                    <td class="hide-mobile">{{post.category}}</td>
                    <td class="mobile-width">{{post.place}}</td>
                    <td>{{post.date}}</td>
                    <td>{{post.time}}</td>
                    <td class="hide-mobile">{{post.day}}</td>
                    <td class="hide-mobile"><a href="{% url 'schedule_page:delete' post.id %}"
                            class="outline-edit btn-outline-primary">remove</a>
                    </td>
                    <td class="show-mobile"><a href="{% url 'schedule_page:delete' post.id %}"
                            class="outline-edit btn-outline-primary">X</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="footer">
        <div class="d-flex flex-row">
            <div class="p-2"><a href="/">
                    <h4 class="res-footer clr-lightblue">Home</h4>
                </a></div>
            <div class="p-2"><a href="/bio">
                    <h4 class="res-footer clr-lightblue">Bio</h4>
                </a></div>
            <div class="p-2"><a href="/education">
                    <h4 class="res-footer clr-lightblue">Education</h4>
                </a></div>
            <div class="p-2"><a href="/contact">
                    <h4 class="res-footer clr-lightblue">Contact</h4>
                </a></div>
            <div class="p-2">
                <h4 class="res-footer selected">Schedule</h4>
            </div>
            <div class="p-2"><a href="/extra">
                    <h4 class="res-footer clr-lightblue">Extra</h4>
                </a></div>
        </div>
    </div>

    <!-- kalau pakai cdn -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <script src="{%static "bootstrap/js/jquery.js" %}"></script>
    <script src="{%static "bootstrap/js/popper.js" %}"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>